#define TIME_TO_SLEEP  10                       /* Time ESP32 will go to sleep (in seconds) */
#define HEARTBEAT      3600                     /* Time to send data even if measurement was not changed (in seconds) */
#define SENSOR_RANGE_MIN 20                     /* Min distance to accept as valid measurement */
#define SENSOR_RANGE_MAX 450                    /* Max distance to accept as valid measurement */
#define SENSOR_TIMEOUT 10                       /* Timeout trying to get valid measurement (in retries) */

#define RETRY_DELAY 1                           /* Delay in milliseconds to wait for sensor to settle*/
#define BUFFER_SIZE 5                           /* How many valid measurements should be used to calc the distance average */
#define CALIBRATION_OFFSET 4.0                  /* Calibration offset in cm to add to the sensor distance */

#define CONT_MEASURE false                      /* Continous measurement mode will measure idefinitly | ONLY FOR DEBUGGING */

#define WIFI_TIMEOUT 30                         /* Timeout trying to connect to wifi (in seconds) */
#define WIFI_SSID "wifi_ssid"
#define WIFI_PASSWORD "wifi_passwd"

#define MQTT_CLIENT_ID "ESP32_rainwater_well_1"                                                                 /* The Client ID used in Home Assistant as well */
#define MQTT_DISCOVERY_TOPIC "homeassistant/sensor/<replace-with-your-sensor-name>/config"                      /* Homeassistant discovery topic, default for mqtt integration */
#define MQTT_SETTINGS_TOPIC "<replace-with-sensor-location>/sensor/<replace-with-your-sensor-name>/settings"    /* Topic for settings this is writeable (does not work for me in all cases) */
#define MQTT_STATE_TOPIC "<replace-with-sensor-location>/sensor/<replace-with-your-sensor-name>/state"          /* The topic which updates the sensor state in homeassistant */
#define MQTT_WILL_TOPIC "<replace-with-sensor-location>/sensor/<replace-with-your-sensor-name>/status"          /* Will topic (the will and birth mechanic is not really working properly with deep sleep, tho) */
#define MQTT_BIRTH_TOPIC "<replace-with-sensor-location>/sensor/<replace-with-your-sensor-name>/status"         /* Birth topic */
#define MQTT_HOST IPAddress(192, 168, 0, 1)                                                                     /* IP of MQTT to publish */
#define MQTT_PORT 1883                                                                                          /* Port of MQTT broker */
